---
import { useTranslations } from "../../i18n/ui";
const t = useTranslations(Astro.currentLocale);
---

<article class="relative z-10">
  <div class="mb-20">
    <h2
      class="font-headline text-5xl md:text-7xl text-brand-primary leading-tight mb-8"
    >
      {t("bio.title")}
    </h2>
    <div class="h-1px w-24 bg-brand-primary/30"></div>
  </div>

  <div class="prose-custom">
    <p
      class="first-letter:text-5xl first-letter:font-headline first-letter:text-brand-primary first-letter:mr-3 first-letter:float-left first-letter:leading-none"
    >
      {t("bio.content")}
    </p>
  </div>

  <!-- <div
        class="mt-24 pt-12 border-t border-brand-primary/10 flex flex-col md:flex-row justify-between items-center gap-8"
    >
        <a
            class="group flex items-center gap-4 font-label text-xs uppercase tracking-widest text-brand-primary transition-all"
            href="#"
        >
            <span
                class="w-12 h-1px bg-brand-primary/20 group-hover:w-16 transition-all duration-300"
            ></span>
            Минулі події
        </a>
        <a
            class="px-8 py-4 bg-brand-primary text-brand-tertiary font-label text-xs uppercase tracking-[0.2em] hover:bg-on-surface transition-colors duration-300"
            href="#"
        >
            Переглянути графік турів
        </a>
        <a
            class="group flex items-center gap-4 font-label text-xs uppercase tracking-widest text-brand-primary transition-all"
            href="#"
        >
            Преса та EPK
            <span
                class="w-12 h-1px bg-brand-primary/20 group-hover:w-16 transition-all duration-300"
            ></span>
        </a>
    </div> -->
</article>
