---
import Header from "@components/Header.astro";
import Hero from "@components/Hero.astro";
import About from "@components/About.astro";
import Events from "@components/Events.astro";
import PressQuotes from "@components/PressQuotes.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Gallery from "@components/Gallery.astro";
import Workshops from "@components/Workshops.astro";

import { useTranslations } from "@i18n/ui";
const t = useTranslations(Astro.currentLocale);

import { getImage } from "astro:assets";
import backgroundImage from "@assets/bg.svg";
const optimizedBackground = await getImage({ src: backgroundImage });
---

<Layout title={t("site.hero_name")}>
  <Header />
  <main>
    <div
      class="fixed inset-0 z-[-2] pointer-events-none opacity-20"
      style={`background-image: url(${optimizedBackground.src}); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;`}
    >
    </div>
    <Hero />
    <About />
    <Events />
    <PressQuotes />
    <Workshops />
    <Gallery />
    <Footer />
  </main>
</Layout>
